.header {
    height: 10vh;
    width: 100%;
    background: #37657F;
    position: sticky;
    top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    z-index: 10;
}

.webName {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: x-large;
}