.out_container{
    /* background-color:rgb(171, 69, 69); */
    width: 100%;
    height: 100%;
    /* background-image: url('../resourse/face_background_out.jpg'); */
}

#box1{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
    /* background-color: aqua; */
}

#video_player{
    width: 50%;
    height: 50%;
    /* background-color:#f4f4f4; */
    margin-left: 10px; 
    margin-top: 10px;
    text-align: center;
}

#result{
    background-color:rgba(216, 207, 207, 0.662); 
    width: 45%;
    height:100%;
    margin-top: 10px;
    margin-left: 20px;
    box-shadow: 2px 3px 5px rgb(198, 197, 197)
}
    
.match_img{
    width: 30%;
    height: 40%;
    background-color: rgba(230, 232, 234, 0.963);
    margin: 15px;
    text-align: center;
    margin-left: 25px;
    box-shadow: 3px 5px 5px rgb(198, 197, 197)
}

#info{
    width: 95%;
    height: 55%;
    background-color:aliceblue;
    margin-left: 10px;
    margin-bottom: 5px;
    border: 1px solid #b9beb9;
    box-shadow: 3px 5px 5px rgb(198, 197, 197);
    border-radius: 3%
}

.hint_face{
    width: 80vw;
    height: 18vh;
    /* background-color:rgba(16, 200, 200, 0.961); */
    margin-top: 15px;
    /* margin-top: 5px; */
    /* border-radius: 4%; */
    text-align: center;
    background-image: url('../resourse/contact-bottom-right.png');
    background-size: 100% 100%;
}


.hint_face span{
    font-size: x-large;
    vertical-align: middle;
    line-height: 100px;
}
