/* 侧边导航菜单 */
.sidebar {
  margin: 0;
  padding: 0;
  background-image: url('../resourse/slider-left-dec.jpg');
  background-size: 100%;
  width: 15vw;
  /* background-color: #b9e8ff00; */
  position: absolute;
  height: 85%;
  float: left;
}

/* 侧边栏链接 */
.sidebar ul {
  margin-top: 0;
  padding-left: 0;
  /* background-color: #BEF8FF; */
}
.sidebar li {
  display: block;
  color: black;
  padding: 20px;
  text-decoration: none;
  text-align: center;
}

/* 活动/当前链接 */
.sidebar li.active {
  background-color: #16848e;
  color: rgb(230, 239, 216);
}

/* 鼠标悬停链接 */
.sidebar li:hover:not(.active) {
  background-color: #5F757F;
  color: white;
}

